borrar 

formulario de utn usa div para cada sector

agregue boton admin 




<div class="card border-0 bg-white m-2 pt-4 "
    style="box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 15px 0px; border-radius: 6px;">
    <div class="row mx-3 my-3">
        <div class="col-md-6 "><img loading="lazy" class="card-img-top"
                src="https://assets.utnba.centrodeelearning.com/public-api/files/51ec115746504a407e78442a9af30940/images"
                alt="cover" style="max-width: 100%;"></div>
        <div class="col-md-6">
            <div id="form-to-replace">
                <div>
                    <div class="row">
                        <div class="col">
                            <div id="infusion-form-container">
                                <form accept-charset="UTF-8"
                                    action="https://uu212.infusionsoft.com/app/form/process/6ad574debc845728860a83bfbcd9b25c"
                                    id="inf_form_6ad574debc845728860a83bfbcd9b25c" name="infusion-form"
                                    target="iframe-form" method="POST" class="infusion-form-contact"><input
                                        name="inf_form_xid" type="hidden"
                                        value="6ad574debc845728860a83bfbcd9b25c"><input name="inf_form_name"
                                        type="hidden" value="Formulario Generico"><input name="infusionsoft_version"
                                        type="hidden" value="1.70.0.297103"><input id="timeZone" name="timeZone"
                                        type="hidden" class="form-control" value="America/Buenos_Aires">
                                    <div class="form-group"><label for="inf_option_TipodeConsulta" class="">Tipo de
                                            Consulta</label><select id="inf_option_TipodeConsulta"
                                            name="inf_option_TipodeConsulta" required="" class="form-control">
                                            <option id="disabledSelect">Seleccione el tipo de consulta</option>
                                            <option value="5754">Inscripción a cursos y carreras</option>
                                            <option value="5758">Alumnos: Consultas Administrativas</option>
                                            <option value="5756">Carreras: Admisión y gestión de alumnos</option>
                                            <option value="5760">Alumnos: Sugerencias y reclamos de cursada</option>
                                            <option value="5762">Alumnos: Certificados</option>
                                            <option value="5764">Carreras: Inscripciones a materias</option>
                                            <option value="5766">Carreras: Inscripciones a exámenes</option>
                                            <option value="5768">Carreras: Constancias de exámenes parciales y finales
                                            </option>
                                            <option value="5770">Soporte Técnico para Alumnos</option>
                                        </select></div>
                                    <div class="infusion-field pb-2 form-group"><label for="inf_custom_curso"
                                            class="">Curso / Carrera</label><input id="inf_custom_curso"
                                            name="inf_custom_curso" placeholder="Nombre del curso *" autocomplete="off"
                                            required="" type="text"
                                            class="infusion-field-input-container inputbox form-control style_2 ui-autocomplete-input form-control"
                                            value=""></div>
                                    <div class="form-group"><label for="inf_field_FirstName"
                                            class="">Nombre</label><input id="inf_field_FirstName"
                                            name="inf_field_FirstName" placeholder="Nombre *" required="" type="text"
                                            class="form-control" value=""></div>
                                    <div id="infusion_field_LastName" class="form-group">
                                        <label for="inf_field_LastName"
                                            class="">Apellido</label><input id="inf_field_LastName"
                                            name="inf_field_LastName" placeholder="Apellido" required="" type="text"
                                            class="form-control" value=""></div>
                                    <div class="form-group"><label for="inf_field_Phone1"
                                            class="">Teléfono</label><input id="inf_field_Phone1"
                                            name="inf_field_Phone1" placeholder="Telefono *" type="text"
                                            class="form-control" value=""></div>
                                    <div class="form-group"><label for="inf_field_Email" class="">E-mail</label><input
                                            id="inf_field_Email" name="inf_field_Email" placeholder="E-mail *"
                                            required="" type="email" class="form-control" value=""></div>
                                    <div class="form-group"><label for="inf_field_Email"
                                            class="">Consulta</label><textarea required="" cols="24"
                                            id="inf_custom_MensajeConsulta" name="inf_custom_MensajeConsulta" rows="5"
                                            class="form-control"></textarea></div>
                                    <div class="pl-2 form-group"><button type="button" disabled=""
                                            class="w-100 float-right border-0 btn btn-primary disabled">Enviar</button>
                                    </div>
                                </form><iframe frameborder="0" name="iframe-form" class="d-none" id="iframe-form"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    title="iframe form infusion"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>